* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar styles */


.header{
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px  100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    text-shadow: 
    -1px -1px 0px black,  
     1px -1px 0px black,  
     1px  1px 0px black,  
    -1px  1px 0px black;

}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
 margin-left: 40px;
 text-shadow: 
 -1px -1px 0px black,  
  1px -1px 0px black,  
  1px  1px 0px black,  
 -1px  1px 0px black;
}