/* headings font */
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
/* titles/captions fonts */
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Martel:wght@200;300;400;600;700;800;900&display=swap');
/* content font */
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hind:wght@300;400;500;600;700&family=Martel:wght@200;300;400;600;700;800;900&display=swap');

* { 
    padding: 0; 
    margin: 0;
    user-select: none;
    scroll-behavior: smooth;
}

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
  
    /*===== Colors =====*/
    --first-color: #3E0E12;
    --first-color-dark: #2F0A0D;
    --text-color: #524748;
    --first-color-light: #7B6F71;
    --first-color-lighten: #FBF9F9;
  
    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*===== Margins =====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /*===== z index =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
    
  @media screen and (min-width: 768px){
    :root{
      --biggest-font-size: 4.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #746D75;
    
    
}

.main {
    position: fixed; /* Change to fixed position */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Cover the full viewport width */
    height: 100vh; /* Adjust to cover full viewport height */
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    animation: revealMain 5s ease-out forwards;
    overflow: hidden; 
    background-color: black;
    background-image: url('https://media.discordapp.net/attachments/1223616744979955834/1233898425515376691/SAM_0405.JPG?ex=66301675&is=662ec4f5&hm=fba07b6692bd63325d5440c0afb9a6774f127a732a8929479240b620644e90b4&=&format=webp&width=624&height=468');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 1000; /* Ensure it appears above other content */
}

/* Animation keyframes */
@keyframes revealMain {
    0% {
        height: 100vh;
    }
    100% {
        height: 25vh;
    }
}

/* Content fade-in animation */
.main .main-content {
    opacity: 0;
    animation: fadeInContent 5s ease-out forwards;
    position: relative; /* Add relative position to allow z-index to work */
    z-index: 1; /* Ensure content is above the background */
}

/* Animation keyframes */
@keyframes fadeInContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the blur intensity */
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: 1; /* Ensure the overlay is behind the content */
}

.main .main-content {
    color: white;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Add position relative to allow z-index to work */
    z-index: 2; /* Ensure the content is above the overlay */
    height: 100%;
}

.main .main-content h1 {
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #EBCFB2;
    
}

.main .main-content p {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    color: #cccccc;
  }


/* About Section */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* height: 75vh; */
  }
  
  .about-section {
    background-color: ;
    padding: 50px 0;
  }

  .about-content h2{
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #EBCFB2;
  }

  .about-content p{
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #040F16;
  }
  
  .about-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .about-image {
    flex: 1;
    text-align: center;
  }
  
  .about-image img {
    max-width: 50%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    
    .about-content {
      flex: 2;
      padding-right: 40px;
    }
    
    .about-image {
      flex: 1;
      text-align: center;
    }
  }


/* equipment section */

.equipment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* height: 75vh; */
    text-align: right;
  }
  
  .equipment-section {
    background-color: ;
    padding: 50px 0;
  }

  .equipment-content h2{
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #EBCFB2;
    
  }

  .equipment-content p{
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #040F16;
  }

  .equipment-content ul {
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    color: #cccccc;
    list-style-type: none;

  }
  
  .equipment-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .equipment-image {
    flex: 0.5;
    text-align: center;
  }
  
  .equipment-image img {
    max-width: 50%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .equipment-container {
      flex-direction: row;
    }
    
    .equipment-content {
      flex: 2;
      padding-right: 40px;
    }
    
    .equipment-image {
      flex: 1;
      text-align: center;
    }
  }

  /* gallery styles */
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 images per row */
    gap: 20px;
    justify-items: center;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Adds a subtle rounded border to images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
  }
  
  .gallery img:hover {
    transform: scale(1.05); /* Slightly zoom in on hover */
  }


/* footer */
.footer {
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
  }
  
  .footer__container {
    padding: 3rem 0;
  }
  
  .footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-semi-bold);
  }
  
  .footer__description {
    margin-bottom: var(--mb-3);
  }
  
  .footer__social {
    margin-bottom: var(--mb-6);
  }
  
  .footer__link {
    font-size: 1.4rem;
    color: var(--first-color-lighten);
    margin: 0 var(--mb-1);
    transition: .3s;
  }
  
  .footer__link:hover {
    color: var(--first-color-light);
  }
  
  .footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
  }
  
  /*===== MEDIA QUERIES =====*/
  @media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .bd-container {
      margin-left: auto;
      margin-right: auto;
    }
  }