
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
 
    transform: scale(0.8);
}


  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .row-cols-md-3 {
      row-cols: 1;
    }
  }
  