*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

.navbar {
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Background blur for the glassmorphic effect */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 1.5em;
}

.nav-links {
  display: flex;
  text-shadow: 2.5px 2.5px 1px black; /* Adjust the shadow values as needed */

}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: #333;
    top: 60px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    margin: 0;
  }

  .menu-toggle {
    display: flex;
  }

  .bar.open1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open2 {
    opacity: 0;
  }

  .bar.open3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.main {
  height: 100vh;
  background: url('https://cdn.discordapp.com/attachments/1171518027544662067/1205992608963502171/SAM_0183.JPG?ex=65da6324&is=65c7ee24&hm=90a01758145da0be046ce80ab725c66e3ae18f9a916f61368d20e7647780115c&') center/cover no-repeat; /* Replace with your image path */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

.content {
  text-align: center;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 5px 5px 3px black; /* Adjust the shadow values as needed */
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-shadow: 2.5px 2.5px 1px black; /* Adjust the shadow values as needed */
}

@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }

  p {
      font-size: 1em;
  }
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 1.5em;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffcc00;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-links {
    margin-top: 10px;
  }
}




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
  padding: 4rem;
}

.image img {
  height: auto;
  width: 100%;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}
  

.about-me {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.about-me-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-me h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 2px black; /* Adjust the shadow values as needed */

}



.about-me p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  text-shadow: 0px 0px 0px black; /* Adjust the shadow values as needed */

}


